<%- include('../includes/top.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="myContainer">
    <p>Add a comment</p>
    <form action="/add-comment" method="POST">
      <label for="content">Content</label>
      <input type="text" name="content" id="content" />
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> 
      <button class="myButton" type="submit">Submit</button>
    </form>
  </main>

  <%- include('../includes/bottom.ejs') %>