<%- include('includes/top.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <main class="myContainer">
        <p>An error occured.</p>
    </main>

    <%- include('includes/bottom.ejs') %>