<%- include('./includes/top.ejs') %>

</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  
  <main class="myContainer">
    <h1>Mongoose - EJS - Express</h1>
    <p>
      Basic boilerplate for web applications, built on Express.js using the Model–View–Controller architectural pattern.
    </p>
    <p>
      The views are created with the Embedded JavaScript templating (EJS) view engine.
    </p>
    <p>
      A MongoDB database is used for data storage, with object modeling provided by Mongoose.
    </p>
  </main>

  <%- include('./includes/bottom.ejs') %>