:root {
  --link-color: #00B7FF;
  --back-color: #F1F1F1;
  --box-shadow: 0 0 .7em rgba(9, 61, 11, 0.2);  
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--link-color);
}

footer {
  text-align: center;
  font-size: .87em;
  opacity: 0.5;
}

h1 {
  font-size: 1.3em;
}


.myContainer {
  padding: 1em 0;  
}

.myBox {
  display: flex;
  box-shadow: var(--box-shadow);
}

.myItem {  
  padding: 0.6em 1.2em;    
}

.myButtonThatLooksLikeLink {
  background: none;
  color: var(--link-color);
  text-decoration: underline;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer;
}

.myNav {
  background-color: var(--back-color);
  box-shadow: var(--box-shadow);  
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: .7em;
}

.myCentered {    
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.myNav a {
  margin-right: 1.3em;
  text-decoration: none;
}

.myNav .myButtonThatLooksLikeLink {  
  text-decoration: none;
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  border-color: red;
}



.myFormItem {
  display: flex;  
  align-items: center;  
  margin: 5px 0; 
}

.myFormItem label {
  margin-right: 10px;
}

.myFormItem input {
  padding: .3em;  
}

.myFormItem input.invalid {
  border-color: red;
}


.myButton {
  background-color: var(--back-color);
  color: var(--link-color);
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer;
}

.myFlashMessage {
  text-align: center;
}

.myFlashMessageError {
  color: red
}


.pagination {
  margin-top: 2em;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: var(--link-color);
  padding: 0.5em;
  border: 1px solid var(--link-color);
  margin: 0 1em;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: var(--link-color);;
  color: white;
}

.gotopage {
  color: var(--link-color);
}